<div class="container-fluid">
	<div class="raw">
		<div class="col-md-10 text-center">
			<footer role="contentinfo">
				<p><small>Copyright &copy; Sam ABu</small></p>
			</footer>
		</div>
	</div>
</div>